/* Desktop skrift

.source-code-pro-<uniquifier> {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

h1.d {
  font-family: "Source Code Pro", monospace;
  font-size: 64px;
}

h2.d {
  font-family: "Source Code Pro", monospace;
  font-size: 48px;
}

h3.d {
  font-family: "Source Code Pro", monospace;
  font-size: 36px;
}

h4.d {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}

p.d {
  font-family: "Source Code Pro", monospace;
  font-size: 22px;
}

/* Mobile skrift  */

h1.m {
  font-family: "Source Code Pro", monospace;
  font-size: 48px;
}

h2.m {
  font-family: "Source Code Pro", monospace;
  font-size: 36px;
}

h3.m {
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
}

h4.m {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}

p.m {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}

/* Farver  */

p.links,
p.skrift {
  color: #ffffff;
}

img.artist {
  filter: grayscale();
}

button {
  color: #ffefc9;
}

/* Baggrund */

body {
  background-image: url("../karruselbaggrund.jpg");
  background-size: cover;
}
