---
import Herosection from "../components/Herosection.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
  <main>
    <Herosection />
    <section>
      <Button text="TICKETS/" link="/tickets" />
    </section>
    <section>
      <Button text="LINEUP/" link="/lineup" />
    </section>
  </main>
</html>
