---
const { title } = Astro.props;
---
<h2>{title}</h2>

  <div class="card">
    
    <h3>TEISON B2B PAI-LIN</h3>
     <h4>18:00</h4>
    <h3>NANDO</h3>
     <h4>18:00</h4>
    <h3>PRETTY GIRL LIVE</h3>
     <h4>18:00</h4>
    <h3>BEN BÖHMER LIVE</h3>
    <h4>18:00</h4>
  </div>

  
 

<style>
  
</style>