---
import Menu from "./Menu.astro";
---

<header>
  <h1>Header</h1>

  <div class="header">
    <p>28–30 AUGUST 2025 | COPENHAGEN, REFSHALEØEN</p>
     <div class="logo">
                <a href="index.html"><img src="karru" alt="logo"></a>
            </div>
    <Menu></Menu>
  </div>
</header>

<style>
  header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    gap: var(--space-md);
    padding: 0;
    background-color: red;
  }
</style>